.header {
    width: 100%;
    height: 51px;
    background-color: #380A2F;
    opacity: 0.91;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.text1 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
    margin-right: auto;
}

.text2,
.text3,
.text4 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
    margin-left: 20px;
}
.text2, .text3 {
    cursor: pointer;
    text-decoration: none; /* Remove underline initially */
    color: white; /* Set initial color to white */
    margin-right: 10px; /* Add some space between the spans */
  }

  /* Change color and add underline on hover */
  .text2:hover, .text3:hover {
    text-decoration: underline;
    color: blue; /* Change color to blue on hover */
  }

.frame {
    position: relative;
    width: 100%;
    height: 450px;
}

.background {
    width: 100%;
    /* height: 480px; */
    background: linear-gradient(45deg, #0F0A0D, #370635, #000000, #40143F, #160312);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.text5 {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #FDABF5;
    /* margin-bottom: 20px; */
}

.text6 {
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: white;
    /* margin-bottom: 20px; */
    text-align: center;
}

.input-box {
    left:25%;
    width: 681px;
    height: 78px;
    padding: 15px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgba(217, 217, 217, 0.13);
    border: none;
    border-radius: 30px;
    /* margin-bottom: 20px; */
}

.input-box::placeholder {
    color: white;
    opacity: 0.5;
}

.generate-btn {
    /* margin-left: 20px; */
    width: 295px;
    height: 78px;
    background: linear-gradient(45deg, #A0D6E2, #3345A1);
    border: none;
    border-radius: 30px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    color: white;
    cursor: pointer;
    outline: none;
}
#textToImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); */
}

#textToImage {
    max-width: 30%;
    height: 30%;
    margin-bottom: 10px;
}

.generate-btn, .download-btn {
    margin-top: 10px;
}



.frame2 {
    /* top: 65px;; */
    position: relative;
    width: 100%;
    /* height: 277px; */
}

.background2 {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-image: url('/static/assets/image16.png');
    background-size: cover;
    
}

.rectangle {
    position: absolute;
    top: 118px;
    left: 566px;
    width: 340px;
    height: 61px;
    background-color: rgba(217, 217, 217, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text7,
.text8 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.text7 {
    margin-bottom: 5px;
}

.text8 {
    margin-top: 5px;
}



.frame7 {
    position: relative;
    top: 70px;
    width: 100%;
    height: 350px;
    background-color: #000000;
    opacity:0.65;
}

.text15 {
    position: absolute;
    top: 58px;
    left: 136px;
    font-weight: 600;
    font-size: 30px;
    color: pink;
    background: linear-gradient(to right, pink, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text16 {
    position: absolute;
    top: 58px;
    left: 590px; /* Adjust as needed */
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    word-spacing: 80px;
}

.footer {
    position: absolute;
    top:px;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #717070;
    color: #FFFFFF;
    text-align: center;
    line-height: 55px;
}




