body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 1320px;
    height: 52px;
    background-color: #160931;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 31px;
}

.text1 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-right: auto;
}

.text21,
.text22,
.text23 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 20px;
}
.frame {
    /* width: 1440px;
    height: 820px; */
    background: linear-gradient(to right, #02010C, #0E0754, #030212, #1E194B, #050415, #151042);
    /* padding: 20px; */
}

.rectangle {
    position: absolute;
    left: 333px;
    top: 220px;
    width: 740px;
    height: 156px;
    background-color: #FFFFFF;
    border: 1px solid black;
    opacity: 0.31;
}

.text3 {
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(to right, blue, pink, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-top: 8px;
    margin-left: 150px; */
}

.text4 {
    font-size: 16px;
    color: white;
    top: 90px;
    /* margin-left: 218px;
    width: 914px; */
}



#enhance-btn {
    /* width: 200px;
    height: 60px; */
    border: none;
    /* border-radius: 20px; */
    background: linear-gradient(to right, blue, purple);
    color: white;
    font-size: 20px;

    cursor: pointer;
}
/* CSS for styling */
#imageenhancer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Change color of image-container to white */
  .image-container {
    color: white;
  }
  
  /* Change color of labels to white */
  label {
    color: white;
  }
  
  /* Specific style for text5 */
  .text5 {
    
        font-size: 30px;
        color: white;
        /* margin-top: 50px;
        margin-left: 50px; */
    }
    /* Add any specific styles for text5 here */
    .download-button {
        display: inline-block;
        background-color: #6c40c5;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
      }
      
      .download-button:hover {
        background-color: #2980b9;
      }
      .output-box {
        margin: 0 auto; /* Align in the middle */
        width: 50%; /* 50% dimension */
        height: 30%;
        border: 1px solid black;
        overflow: hidden;
        text-align: center; /* Center content horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #output-canvas {
        display: block;
        margin: 20px auto; /* Adjust margin as needed */
        width: 400px; /* Adjust width as needed */
        height: 400px; /* Adjust height as needed */
        border: 1px solid black; /* Add border for visibility */
        box-sizing: border-box; /* Ensure border is included in width calculation */
    }
    
  




.frame6 {
    position: relative;
    width: 1440px;
    height: 408px;
    background-color: #EEEEEE;
}

.text11 {
    position: absolute;
    top: 14px;
    left: 470px;
    font-weight: 600;
    font-size: 30px;
    color: #2900CE;
}

.rectangle1 {
    position: absolute;
    top: 106px;
    left: 76px;
    width: 374px;
    height: 216px;
    background-color: #E4E9FF;
    box-shadow: 6px 6px 9px #7D7D7D;
}

.text12 {
    position: absolute;
    top: 199px;
    left: 198px;
    font-size: 24px;
    color: #000000;
}

.icon1 {
    position: absolute;
    top: 161px;
    left: 86px;
    width: 122px;
    height: 93px;
}

.rectangle2 {
    position: absolute;
    top: 106px;
    left: 513px;
    width: 374px;
    height: 216px;
    background-color: #E4E9FF;
    box-shadow: 6px 6px 9px #7D7D7D;
}

.text13 {
    position: absolute;
    top: 185px;
    left: 674px;
    width: 218px;
    height: 58px;
    font-size: 24px;
    color: #000000;
}

.icon2 {
    position: absolute;
    top: 177px;
    left: 577px;
    width: 85px;
    height: 77px;
}

.rectangle3 {
    position: absolute;
    top: 106px;
    left: 950px;
    width: 374px;
    height: 216px;
    background-color: #E4E9FF;
    box-shadow: 6px 6px 9px #7D7D7D;
}

.text14 {
    position: absolute;
    top: 192px;
    left: 1106px;
    width: 218px;
    height: 62px;
    font-size: 24px;
    color: #000000;
}

.icon3 {
    position: absolute;
    top: 161px;
    left: 984px;
    width: 93px;
    height: 93px;
}

.frame7 {
    position: relative;
    width: 1440px;
    height: 392px;
    background-color: #0D0315;
}

.text15 {
    font-weight: 600;
    font-size: 30px;
    color: pink;
    background: linear-gradient(to right, pink, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text16 {
    position: absolute;
    top: 58px;
    left: 600px; /* Adjust as needed */
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    word-spacing: 80px;
}

.footer {
    position: absolute;
    top:px;
    bottom: 0;
    width: 1435px;
    height: 55px;
    background-color: #717070;
    color: #FFFFFF;
    text-align: center;
    line-height: 55px;
}
