body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

header,
footer {
  background-color: #fae7f3;
  color: #fff;
  padding: 15px;
}

h1,
h2,
h3 {
  font-family: "Pacifico", cursive;
  color: #333;
}

main {
  padding: 40px;
}

section {
  margin-bottom: 60px;
}


.upload-container,
.text-container {
  margin-bottom: 30px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}
.download-button {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.download-button:hover {
  background-color: #2980b9;
}

.output-container {
  display: none;
}

img {
  max-width: 25%;
  height: auto;
  border: 2px solid #4caf50;
  padding: 10px;
  background-color: #fff;
  transition: border 0.3s ease-in-out;
}

img:hover {
  border: 2px solid #3498db;
}

/* Centering elements */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




/* Add animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}